
.container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
}
.img {
    display: flex;
    flex-direction: row;
    height: 30vh;
    padding:5%;
}
 img{
    clip-path: ellipse(50% 50%)
 }
h1 {
    display:flex;
    color: navy;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: blue;
    font-family: sans-serif;
}
h3{
    color:royalblue;
    font-family: fantasy;
}
p{
    color: midnightblue;
    font-weight: bold;
}
 body{
     background-color: lightcyan
    
 }
div{
    display: flex;
    flex-direction: column;
    background-color:lightblue ;
    padding: 50px;
    outline-style: dashed;
    outline-color: steelblue;
    outline-width: 7px;

}


a{
    margin-bottom: 10px;
    text-decoration: none;
    color: darkred;
    font-weight: bold;

}

a:hover{
color: greenyellow;
filter:blur(5px)
}

