img {
    height: auto;
    width:20%;
    clip-path: ellipse(50% 50%);

}

h1 {
    color: navy;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: blue;
    font-family: sans-serif;
}
h3{
    color:royalblue;
    font-family: fantasy;
}
p{
    color: midnightblue;
    font-weight: bold;
}
 body{
     background-color: lightcyan
    
 }
div{
    background-color:lightblue ;
    padding: 80px;
    outline-style: dashed;
    outline-color: steelblue;
    outline-width: 7px;

}

img{

display: flex;
flex-direction: column;
height: 100vh;
}

a{
    margin-bottom: 10px;
    text-decoration: none;
    color: darkred;
    font-weight: bold;

}

a:hover{
color: greenyellow;
filter:blur(5px)
}
